.startSection{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startContent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  text-align: center;
}