.mainSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContent {
  background-color: --bs-success;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 0 40px 0 200px;
  text-align: center;
  gap: 80px;
}

.imgContent {
  position: absolute;
  z-index: 999;
  left: 12%;
}

.imgMain {
  border-radius: 10px;
  width: clamp(200px, 45%, 280px);
}

.leftMainContent {
  background-color: #d38141;
  height: 100%;
  width: 400px;
}

.mainText {
  width: 750px;
}
.mainText h1 {
  font-size: max(18px, 1.7vw);
  word-break: break-all;
  text-align: start;
}
