
.bg-color-1 {
  background-color: #baf5bd;
}
.bg-color-2 {
  background-color: #7dd183;
}
.bg-color-3 {
  background-color: #1a991a;
}
.bg-color-4 {
  background-color: #f2f5f2;
}
.bg-color-5 {
  background-color: #ffd30d;
}
.bg-color-6 {
  background-color: #311A99;
}
.bg-color-7 {
  background-color: #DED7D5;
}

:root{
  --color-1: #baf5bd;
  --color-2: #7dd183;
  --color-3: #1a991a;
  --color-4: #f2f5f2;
  --color-5: #ffd30d;
  --color-6: #311A99;
  --color-7: #DED7D5;
}
