.bg-color-1 {
  background-color: #baf5bd;
}
.bg-color-2 {
  background-color: #7dd183;
}
.bg-color-3 {
  background-color: #1a991a;
}
.bg-color-4 {
  background-color: #f2f5f2;
}
.bg-color-5 {
  background-color: #ffd30d;
}
.bg-color-6 {
  background-color: #311A99;
}
.bg-color-7 {
  background-color: #DED7D5;
}
.text-color-1 {
  color: #baf5bd;
}
.text-color-2 {
  color: #000;
}
.text-color-3 {
  color: #6bbf6f;
}
.text-color-4 {
  color: #f2f5f2;
}
.text-color-5 {
  color: #ffd30d;
}
